<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wymiana walut</title>
</head>

<body>
 <form method="post">
    <div class="container">

    <label for="currency"> Wybierz walutę:</label>

    <select name="currency" id="currency">

        <option value="dolar amerykański">USD</option>
        <option value="euro">EUR</option>
        <option value="frank szwajcarski">CHF</option>

      </select>

    <label for="amount"><b>Ilość</b></label>
    <input type="text" placeholder="Enter amount" name="amount" required />

    <button type="submit">Przelicz</button>

    </div>
   
</form>
</body>
</html>